<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
	<meta charset="utf-8">
    <link rel="shortcut icon" type="image/svg" href="{{ url_for('static', filename='avocado.ico') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/rb.css') }}"/> 
  </head>
</head>

<body class="form-style">
    <form method="POST">
        <p>
        Enter secret key:<br>
        <input type="text" name="user_key">
        </p>
        <input type="submit" name="submit" value="Login">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == "error" %}
                        <p name="status" style="color:red">
                        {% elif category == "info" %}
                        <p name="status" style="color:green">
                        {% endif %}
                        {{ message }}
                        </p><br><br>
                    {% endfor %}
                {% endif %}
            {% endwith %}
    </form>
</body>

</html>
