<!DOCTYPE html>
<html>
    <head>
        <title>Rock Band Tools</title>
        <meta charset="utf-8">
        <meta property="og:title" content="Endless Renovation Rock Band Tools"/>
        <meta property="og:description" content="Landing page."/>
        <meta property="og:image" content="{{ url_for('static', filename='reaper-desk.jpg') }}"/>
        <meta property="og:url" content="http://endlessrenovation.com"/>
        <link rel="shortcut icon" type="image/svg" href="{{ url_for('static', filename='avocado.ico') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/rb.css') }}"/>
    </head>

    <body class="form-style">
        <h2>Endless Renovation Rock Band Tools</h2>
        
        <p><a href="{{ url_for('video_submit') }}">Video Preview Submission</a><br>
            Submit a request to have a video preview recorded for your custom.
        </p>

        <p><a href="{{ url_for('text_page') }}">Lyric Hyphenator</a><br>
            Hyphenate and prepare your lyrics for importing into Reaper.
        </p>
    </body>
</html>

